@font-face {
font-family: "Pttoothpaste";
src: url("../static/fonts/pttoothpaste-webfont.ttf");
src: 
url("../static/fonts/pttoothpaste-webfont.woff") format("woff")
}

@font-face {
font-family: "SignPainter";
src: url("../static/fonts/signpainter_housescript_regular.ttf");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.homepage {
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 93px;
  flex-shrink: 0;
}

.site__title {
  font-family: Pttoothpaste;
  color: #6ED9FB;
  font-size: 4em;
  margin: 8px;
}

.hide {
  opacity: 0;
}

.link--contact {
  color: black;
  text-decoration: none;
}

.image-slider {
  background-image: url('../img/1griffith.jpg');
  min-height: calc(100vh - 186px);
  background-size: cover;
  -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center bottom;
  flex: 1 0 auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 93px;
  flex-shrink: 0;
}

.footer__title {
  text-align: center;
  font-family: SignPainter;
  color: #FFA6D2;
  font-size: 2em;
}

@media only screen and (max-width: 414px) and (orientation: portrait) {
  .site__title {
    font-size: 3em;
    margin: 18px 0;
  }

  .image-slider {
    background-size: 1354px;
  }
}
@media (max-width: 350px) {
  .image-slider {
    background-size: cover;
  }
}

@media only screen and (max-height: 414px) and (orientation: landscape) {
  .site__title {
    font-size: 2em;
    margin: 9px 0;
  }

  .header, .footer {
    max-height: 55px;
  }

  .image-slider {
    min-height: calc(100vh - 110px);
  }

}